header{
  background-color: white;
  font-size: 180%;
}

body{
  background-color: palegreen;
}

.box{
  background-color: white;
  color: mediumspringgreen;
  width: 240px;
  float: left;
  margin: 5px;
}

