header{
  background-color: white;
  color: green;
  font-size: 180%;
}

h2{
  background-color: #00FF7F;
  color: white;
  margin:0px;
}

body{
  background-color: palegreen;
}

.box{
  background-color: white;
  width: 240px;
  float: left;
  margin: 5px;
}

aside{
  background-color: black;
  color: red;
  width: 100px;
  border:1px;
  float: right;
  margin: 2px;
}
