header{
  background-color: white;
  color: green;
  font-size: 180%;
}

h2{
  background-color: #00FF7F;
  color: white;
  width: 240px;
}

body{
  background-color: palegreen;
}

#main{
  width: calc(100% - 200px);
  float: left;
}

.box{
  background-color: white;
  width: 240px;
  padding: 0px 2px;
  height: 150px;
  float: left;
  margin: 5px;
}

aside{
  background-color: black;
  color: red;
  width: 200px;
  border: red 1px solid;
  padding:0px 2px;
  float: right;
}

fooder{
  background-color: white;
  color: green;
  text-align: center;
}
